* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;
}

h1 {
  font-weight: normal;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: bold;
  color: rgb(17, 17, 17);
  display: block;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-size-adjust: 100%;
  width: 350px;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #f7ca00;
  color: black;
  padding: 7px 20px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 100%;
}

label {
  padding: 12px 12px 5px 0;
  display: inline-block;
}

.container {
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  padding: 20px;
  align-items: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  body {
    width: 200px;
  }
}
