<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <style>
      p,
      h2 {
        font-family: "Amazon Ember", Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="center card">
      <h2>Reset Password</h2>
      <p>
        Please check your inbox and follow the instruction to reset your
        password.
      </p>
    </div>
    <script src="" async defer></script>
  </body>
</html>
