<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'leave_app/css/password_reset.css' %}"
    />
  </head>
  <body>
    <div class="center">
      <form method="post" class="card">
        {% csrf_token %}
        <h2 class="text-center">Reset Password</h2>
        {% for field in form %} {% comment %}
        <div></div>
        {% endcomment %} {{ field.label_tag }} {{ field }} {% if field.errors %}
        <small>{{ field.errors|striptags }}</small>
        {% endif %} {% endfor %}
        <div class="form-buttons">
          <br />
          <input type="submit" value="Send" class="btn btn-primary" /> <br />
          <a href="{% url 'login' %}" class="btn btn-outline" id="can"
            >Cancel</a
          >
        </div>
      </form>
    </div>

    <script src="" async defer></script>
  </body>
</html>
